<div class="row">

    <div class="col-md-12">
        <div class="col-sm-2">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#filter1">
                                Filter By:
                            </a>
                            <a class="pull-right" data-toggle="collapse" href="#filter1">
                                <span class="glyphicon glyphicon-filter"></span>
                            </a>
                        </h4>
                    </div>
                    <div id="filter1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="filter-setting">
                                <form action="" mathod="GET">

                                    <div id="coll-1" class="collapse in">
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Most recent</span>
                                        </div>
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Ongoing</span>
                                        </div>
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Pending</span>
                                        </div>
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Completed</span>
                                        </div>


                                    </div>

                                    <hr class="line" />

                                    <label>Sport Category</label>
                                    <a class="pull-right collapsed-icon-toggle" href="#coll-1" data-toggle="collapse">
                                        <span class="glyphicon glyphicon-minus on-opened"></span>
                                        <span class="glyphicon glyphicon-plus on-closed"></span>
                                    </a>
                                    <br/>
                                    <div id="coll-1" class="collapse in">
                                        <div class="padding-v-xs" data-toggle="buttons">


                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" #ref autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>


                                            <span>Football</span>

                                        </div>

                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Basketball</span>
                                        </div>
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Handball</span>
                                        </div>
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Volleyball</span>
                                        </div>
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Tennis</span>
                                        </div>
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Table Tennis</span>
                                        </div>
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Badminton</span>
                                        </div>
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Baseball</span>
                                        </div>
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Rugby</span>
                                        </div>
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Jogging</span>
                                        </div>
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Chess</span>
                                        </div>
                                    </div>

                                    <hr class="line" />
                                    <label>Experience Type</label>
                                    <a class="pull-right collapsed-icon-toggle" href="#coll-2" data-toggle="collapse">
                                        <span class="glyphicon glyphicon-minus on-opened"></span>
                                        <span class="glyphicon glyphicon-plus on-closed"></span>
                                    </a>
                                    <br/>
                                    <div id="coll-2" class="collapse in">
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Beginner</span>
                                        </div>
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Amateur</span>
                                        </div>
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Intermediate</span>
                                        </div>
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Advanced</span>
                                        </div>

                                    </div>

                                    <hr class="line" />
                                    <label>Location Score</label>
                                    <a class="pull-right collapsed-icon-toggle" href="#coll-2" data-toggle="collapse">
                                        <span class="glyphicon glyphicon-minus on-opened"></span>
                                        <span class="glyphicon glyphicon-plus on-closed"></span>
                                    </a>
                                    <br/>
                                    <div id="coll-2" class="collapse in">
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Superb location:9+</span>
                                        </div>
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Very good location:8+</span>
                                        </div>
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Good location:7+</span>
                                        </div>
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Pleasant location:6+</span>
                                        </div>

                                    </div>
                                    <hr class="line" />
                                    <label>Star rating</label>
                                    <a class="pull-right collapsed-icon-toggle" href="#coll-3" data-toggle="collapse">
                                        <span class="glyphicon glyphicon-minus on-opened"></span>
                                        <span class="glyphicon glyphicon-plus on-closed"></span>
                                    </a>
                                    <br/>
                                    <div id="coll-3" class="collapse in">
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>1 star</span>
                                        </div>
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>2 stars</span>
                                        </div>
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>3 stars</span>
                                        </div>
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>4 stars</span>
                                        </div>
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>5 stars</span>
                                        </div>
                                    </div>
                                    <hr class="line" />
                                    <label>Availability</label>
                                    <a class="pull-right collapsed-icon-toggle" href="#coll-4" data-toggle="collapse">
                                        <span class="glyphicon glyphicon-minus on-opened"></span>
                                        <span class="glyphicon glyphicon-plus on-closed"></span>
                                    </a>
                                    <br/>
                                    <div id="coll-4" class="collapse in ">
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name="" value="" autocomplete="off" />
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Only show available events</span>
                                        </div>
                                    </div>
                                    <!-- <hr class="line" />
                                    <button type="submit" class="btn btn-block btn-success">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button> -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Filter By Panel -->


        <!-- List of Sport Events Middle Section-->
        <!-- Main Search -->
        <div class="col-sm-5">
            <div class="row" style="margin-bottom:5px;">
                <div class="col-sm-12">
                    <div class="input-group" id="adv-search">
                        <input type="text" #mainSearch (keyup)="0" name="search" class="form-control" placeholder="Search event by location / category / user"
                            autocorrect="off" autocapitalize="off" spellcheck="off" />
                        <div class="input-group-btn">
                            <div class="btn-group" role="group">

                                <button type="button" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom:5px;">
                <div class="col-sm-12">
                    <!-- <div [formGroup]="addressForm" class="input-group" id="adv-search">
                            <input type="text" formControlName="address"  (keyup)="0" class="form-control" placeholder="Search"
                                autocorrect="off" autocapitalize="off" spellcheck="off" />
                            <div class="input-group-btn">
                                <div class="btn-group" role="group">
                                    
                                    <button type="button" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div> -->
                </div>
            </div>
            <!-- End Main Search -->

            <div class="panel panel-default widget">
                <!-- <div class="panel-heading">
                </div> -->
                <div class="panel-body">
                    <ul class="list-group" *ngFor='let e of eventList'>

                        <li class="list-group-item" (click)='e.infoWindowOpen = !e.infoWindowOpen'>
                            <div class="row">
                                <div class="media col-xs-2 ">
                                    <img src="{{e.imageName}}" class="media-object img-rounded img-responsive" />
                                </div>
                                <div class="col-xs-7 ">

                                    <div class="comment-text">
                                        <b>{{e.categoryName}}</b>
                                    </div>

                                    <div class="mic-info">
                                        Date: {{e.date | date :'dd MMM yyyy' }}
                                    </div>

                                    <div class="mic-info">
                                        <b>Start</b>: {{e.start | date :'H:mm'}} -
                                        <b>End</b>: {{e.end |date :'H:mm'}}
                                    </div>

                                    <div class="mic-info">
                                        Address: {{e.address}}
                                    </div>

                                    <div class="action">
                                        <!-- <button type="button" class="btn btn-primary btn-xs" title="Edit">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button> -->


                                       

                                        <button *ngIf="showParticipateButton" class="btn btn-success btn-xs" mwlConfirmationPopover [popoverTitle]="popoverTitle"
                                            [popoverMessage]="popoverMessage" cancelButtonType="danger" placement="top" (confirm)="confirmClicked(e);" 
                                            (cancel)="cancelClicked(); true" title="Participate" id="test">Participate?
                                            <!-- <span class="glyphicon glyphicon-ok"></span> -->
                                        </button>

                                        <button *ngIf="showSelected" class="btn btn-danger btn-xs" cancelButtonType="danger" mwlConfirmationPopover [popoverTitle]="popoverTitle"
                                            [popoverMessage]="popoverMessage" placement="top" (confirm)="unparticipate(e);"
                                            (cancel)="cancelClicked(); true">
                                            Unparticipate?
                                        </button>

                                        <!-- <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button> -->
                                    </div>

                                </div>

                                <div class="col-xs-3 text-center">
                                    <div class="right">
                                        <div class="more-info">
                                            <a routerLink="/event/{{e.id}}" class="btn btn-warning btn-xs">More Info</a>
                                        </div>
                                    </div>

                                    <div class="right">
                                        <figure class="profile">
                                            <img src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif" class="profile-avatar" alt="">
                                        </figure>
                                    </div>

                                    <!-- <div class="right">
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    </div> -->

                                    <!-- <div class="btn-group">
                                        <a href="#" class="btn btn-inverse "><i class="glyphicon glyphicon-thumbs-up"></i></a>
                                        <a href="#" class="btn btn-inverse "><i class="glyphicon glyphicon-heart"></i></a>
                                        <a href="#" class="btn btn-inverse "><i class="glyphicon glyphicon-share-alt"></i></a>
                                    </div> -->
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="center-block">
                    <ul class="pagination">
                        <li class="disabled">
                            <a href="#">«</a>
                        </li>
                        <li class="active">
                            <a href="#">1
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">»</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- End List of Sport Events Middle Section -->


        <!-- Main Layout Section col-sm-5 (right side) -->
        <div class="col-sm-5">
            <!-- Google Map -->
            <div class="stuck">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default text-left">
                            <div class="panel-body">
                                <div class="google-map">
                                    <agm-map [fullscreenControl]="true" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom" [styles]="customStyle">


                                        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>

                                        <div *ngFor="let e of eventList | searchFilter:mainSearch.value ">


                                            <agm-marker [latitude]="convertStringToNumber(e.latitude)" [longitude]="convertStringToNumber(e.longitude)" iconUrl="{{e.imageName}}"
                                                draggable="true">
                                                <agm-snazzy-info-window [maxWidth]="250" [closeWhenOthersOpen]="true" [isOpen]="e.infoWindowOpen">
                                                    <ng-template>
                                                        <img src="{{e.mainPicGoogleMap}}" class="img-responsive" style="max-height:100px; max-width:200px;">
                                                        <!-- <div id="card">
                                                            <div class="card">
                                                                <div class="card-block">
                                                                    <p>Weather from {{e.address}} {{e.experienceType}}</p>
                                                                    {{e.temp}}
                                                                    <img src="{{imgPath + e.icon +imgFileName}}" style="height:30px;width:30px;">
                                                                    <a class="btn btn-primary btn-xs" routerLink="/details/{{e.id}}">Event Details</a>
                                                                </div>
                                                            </div>
                                                        </div> -->
                                                    </ng-template>
                                                </agm-snazzy-info-window>
                                            </agm-marker>


                                        </div>
                                    </agm-map>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Google Map -->

            <!-- Like Section Google Map -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default text-left">
                        <div class="panel-body">
                            <p contenteditable="true">Status: Feeling Blue</p>
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-thumbs-up"></span> Like
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Like Section Google Map -->


            <!-- Like Section Google Map -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default text-left">
                        <div class="panel-body">



                        </div>
                    </div>

                </div>
            </div>
            <!-- End Like Section Google Map -->



            <!-- Like Section Google Map -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default text-left">
                        <div class="panel-body">

                            <pre><code>&lt;datetime [datepicker]="false" [(ngModel)]="date3">&lt;/datetime></code></pre>
                            <datetime [datepicker]="false" [(ngModel)]="date3"></datetime>
                            <h5>
                                <strong>ngModel:</strong> {{getDate(date3) | date: "medium"}}</h5>

                            <pre><code>&lt;datetime [timepicker]="false" [(ngModel)]="date3">&lt;/datetime></code></pre>
                            <datetime [timepicker]="false" [(ngModel)]="date3" placeholder="Start"></datetime>
                            <h5>
                                <strong>ngModel:</strong> {{getDate(date3) | date: "medium"}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Like Section Google Map -->


            <div class="row">
                <div class="col-sm-3">
                    <button type="button" id="create" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">Create Sport Event</button>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true"
                #closeAddExpenseModal>
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Create New Sport Event</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>


                        <div class="modal-body">
                            <form [formGroup]="formData" (ngSubmit)="createEvent()">
                                <div class="form-group">
                                    <input type="text" placeholder="Type Address" name="Address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
                                        class="form-control" #search formControlName="Address">

                                    <div *ngIf="!formData.get('Address').valid && formData.get('Address').dirty" style="color:red">
                                        Address is required!
                                    </div>
                                </div>


                                <div class="form-group">
                                    <input type="number" placeholder="Type Max No Of Participants" name="MaxNoOfPlayers" class="form-control" formControlName="MaxNoOfPlayers">

                                    <div *ngIf="!formData.get('MaxNoOfPlayers').valid && formData.get('MaxNoOfPlayers').dirty" style="color:red">
                                        Maximum No Of Players is Required!
                                    </div>
                                </div>

                                <div class="form-group">
                                    <select class="form-control" name="Category" #t (change)="selectCategory(t.value)" formControlName="Category">
                                        <option value="0"> Select Sport Category</option>
                                        <option *ngFor="let data of CategoryList" value={{data.id}}>
                                            {{data.categoryName}}
                                        </option>
                                    </select>

                                    <div *ngIf="!formData.get('Category').valid && formData.get('Category').dirty" style="color:red">
                                        Sport Category is required!
                                    </div>
                                </div>

                                <div class="form-group">
                                    <select class="form-control" name="Experience" #x (change)="selectExperience(x.value)" formControlName="Experience">
                                        <option value="0"> Select Experience Type </option>
                                        <option *ngFor="let data of ExperienceList" value={{data.id}}>
                                            {{data.experienceType}}
                                        </option>
                                    </select>

                                    <div *ngIf="!formData.get('Experience').valid && formData.get('Experience').dirty" class="col-sm-8 col-sm-offset-4" style="color:red">
                                        Sport Experience Type is required!
                                    </div>
                                </div>


                                <div class="form-group">
                                    <datetime [datepicker]="false" [timepicker]="{ minuteStep: 15, showMeridian:false, defaultTime:false, maxHours:23, disableMousewheel:true   }"
                                        name="start" formControlName="start"></datetime>

                                    <div *ngIf="!formData.get('start').valid && formData.get('start').dirty" style="color:red">
                                        The Start Time is required!
                                    </div>
                                </div>

                                <div class="form-group">

                                    <datetime [datepicker]="false" [timepicker]="{ minuteStep: 15, showMeridian:false, defaultTime:false, maxHours:23, disableMousewheel:true  }"
                                        [timepicker]="timepickerOptions" name="end" formControlName="end" placeholder="End"></datetime>

                                    <div *ngIf="!formData.get('end').valid && formData.get('end').dirty" style="color:red">
                                        The End Time is required!
                                    </div>
                                </div>

                                <div class="form-group">
                                    <datetime [timepicker]="false" [datepicker]="datepickerOpts" name="date" formControlName="date"></datetime>

                                    <div *ngIf="!formData.get('date').valid && formData.get('date').dirty" style="color:red">
                                        Date Time is required!
                                    </div>
                                </div>

                                <!-- <google-map #mainSearch></google-map> -->

                                <br>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" [disabled]="!formData.valid" class="btn btn-info">Submit</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Modal -->

        </div>
        <!-- End Main Layout Section col-sm-5 (right side) -->



    </div>
</div>