/* You can add global styles to this file, and also import other style files */

.pac-container{z-index:99999;}

html{
  height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    background:#F5F5F5; 
   
}

.content {
	margin-top: 20px;
}


